<div class="form-section display-table width--1" data-js-init='["FormStorage.saveOnChange"]'>
  <div class="display-table-row">
    <div class="display-table-cell">
      <div class="form-field">

        <!-- form : medium -->

        <div class="field-section">
          <div class="field-title width--1">
            <label class="field-title__label">About</label>
          </div>
          <div class="field-content">
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class='row'>
    <fieldset>
      <label for='sizing' class='label' >Masukkan ukuran yang ingin diganti</label>
      <input type='text' id='sizing' tabindex='-1' />
      <span class='hint'>pisahkan dengan pipe</span>
    </fieldset>
  </div>
  <div class='row'>
    <fieldset>
      <input type='checkbox' id='activate' tabindex='-1' />
      <label for='activate' class='label'>Aktifkan</label>
    </fieldset>
  </div> -->
</div>
