<div class="form-section display-table width--1" data-js-init='["FormStorage.saveOnChange", "FormStorage.loadInitialValue", "FormView.setupShowForm", "FormView.setupHideForm"]'>
  <div class="display-table-row">
    <div class="display-table-cell">
      <div class="form-field">

        <div class="js-form-container">

          <!-- form : mapping -->

          <div class="field-section form-mapping js-form-mapping js-form-mapping--1">
            <div class="field-content">
              <div class="field-inline">
                <div class="field-inline__row">
                  <div class="field-inline__label">
                    Ukuran asal
                  </div>
                  <div class="field-inline__input">
                    <textarea rows="2" placeholder="m-1000-1000" data-save-key="imagary.from--1">m-1000-1000</textarea>
                  </div>
                </div>
                <div class="field-inline__row">
                  <div class="field-inline__label">
                    Mapping
                  </div>
                  <div class="field-inline__input">
                    <input type="text" class="width--1" placeholder="original" data-save-key="imagary.to--1" value="original" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field-section form-mapping js-form-mapping js-form-mapping--2">
            <div class="field-content">
              <div class="field-inline">
                <div class="field-inline__row">
                  <div class="field-inline__label">
                    Ukuran asal
                  </div>
                  <div class="field-inline__input">
                    <textarea rows="2" placeholder="s-194-194|w-300" data-save-key="imagary.from--2">s-200-200|s-194-194|s-178-178|w-300</textarea>
                  </div>
                </div>
                <div class="field-inline__row">
                  <div class="field-inline__label">
                    Mapping
                  </div>
                  <div class="field-inline__input">
                    <input type="text" class="width--1" placeholder="medium" data-save-key="imagary.to--2" value="medium" />
                  </div>
                </div>
                <div class="field-inline__row form-delete">
                  <div class="display-table-cell"></div>
                  <div class="display-table-cell align-right pad-right--1">
                    <a href="#" class="link--nd js-delete-button" data-index="2">&times; hapus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field-section form-mapping js-form-mapping js-form-mapping--3 hidden">
            <div class="field-content">
              <div class="field-inline">
                <div class="field-inline__row">
                  <div class="field-inline__label">
                    Ukuran asal
                  </div>
                  <div class="field-inline__input">
                    <textarea rows="2" placeholder="s-1000-1000" data-save-key="imagary.from--3"></textarea>
                  </div>
                </div>
                <div class="field-inline__row">
                  <div class="field-inline__label">
                    Mapping
                  </div>
                  <div class="field-inline__input">
                    <input type="text" class="width--1" placeholder="large" data-save-key="imagary.to--3" />
                  </div>
                </div>
                <div class="field-inline__row form-delete">
                  <div class="display-table-cell"></div>
                  <div class="display-table-cell align-right pad-right--1">
                    <a href="#" class="link--nd js-delete-button" data-index="3">&times; hapus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- form : action -->

      <div class="mrgn-top--3">
        <div class="display-table width--1">
          <div class="display-table-cell pad-left--1">
            <span class="txt--small fg--gray-light txt--italic">*pisahkan ukuran asal dengan pipe, hindari spasi</span>
          </div>
          <div class="display-table-cell align-right pad-right--1">
            <button class="btn js-duplicate-button">+ Tambah Mapping</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
